Makefile
Makefile.in
autom4te.cache/
config.log
config.status
configure
*.go
env
tests/*.log
tests/*.trs
test-suite.log
/doc/version.texi
*.info
.dirstamp
stamp-vti
/GNUmakefile
/README-release
/maint.mk
